<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">orderId</th>
      <th scope="col">Billing</th>
    
      <th scope="col">Shipped</th>
     
      
     
     
      <th scope="col">totalBase</th>
      <th scope="col">grandTotal</th>
      <th scope="col">Status</th>
      
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>123</td>
      <td>vaibhav</td>
      <td>vaibhav</td>
      <td>1500</td>
      <td>1600</td>
      <td>completed</td>
   <a href="/viewpendingorders/viewpending" ><td>view</td></a>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>904</td>
      <td>aman</td>
      <td>aman</td>
      <td>67000</td>
      <td>67000</td>
      <td>completed</td>
   <a href="/viewpendingorders/viewpending" ><td>view</td></a>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>905</td>
      <td>nikhil</td>
      <td>nikhil</td>
      <td>67000</td>
      <td>67000</td>
      <td>completed</td>
   <a href="/viewpendingorders/viewpending" ><td>view</td></a>
        
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>904564</td>
      <td>durgesh</td>
      <td>durgesh</td>
      <td>67000</td>
      <td>67000</td>
      <td>completed</td>
   <a href="/viewpendingorders/viewpending" ><td>view</td></a>
        
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>909</td>
      <td>piyush</td>
      <td>piyush</td>
      <td>7000</td>
      <td>7000</td>
      <td>completed</td>
   <a href="/viewpendingorders/viewpending" ><td>view</td></a>
        
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>904564</td>
      <td>shashank</td>
      <td>shashank</td>
      <td>67000</td>
      <td>67000</td>
      <td>completed</td>
   <a href="/viewpendingorders/viewpending" ><td>view</td></a>
        
    </tr>
  </tbody>
</table>