<div class="btn-group mb-4" role="group">
    <a [routerLink]="['/pendingorders/pending']" class="btn btn-light">
      <i class="fas fa-user-circle text-info mr-1"></i> Pending Orders</a>
    
    <a [routerLink]="['/editinventory/editinventory']" class="btn btn-light">
      
      Edit inventory</a>
      <a [routerLink]="['/completeorders/completeorders']" class="btn btn-light">
        
        Completed orders</a>
        <a [routerLink]="['/chartdashboard/chartboard']" class="btn btn-light">
           
            Chart Dashboard</a>
          
  </div>