<p>addorder works!</p>

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img3.jpg" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2"> Order Registration </h3>
  
              <form class="px-md-2"    >
                  
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control"  name="orderId"/>
                  <label class="form-label" for="form3Example1q">orderId</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"  name="userId" />
                    <label class="form-label" for="form3Example1q">userId</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"  name="invId" />
                    <label class="form-label" for="form3Example1q">invId</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"  name="productId"/>
                    <label class="form-label" for="form3Example1q">productId</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" 
                    name="productQty" class="form-control" />
                    <label class="form-label" for="form3Example1q">productQty</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q"  name="totalPrice" class="form-control" />
                    <label class="form-label" for="form3Example1q">totalPrice</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" name="grandTotalPrice"  class="form-control" />
                    <label class="form-label" for="form3Example1q">grandTotalPrice</label>
                  </div>
  
              
  
                <input type="submit"class="btn btn-success btn-lg mb-1">
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>