<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">orderId</th>
      <th scope="col">user_id</th>
      <th scope="col">inv_id</th>
      <th scope="col">product_Id</th>
      
      <th scope="col">product_qty</th>
      <th scope="col">total_price</th>
      <th scope="col">grand_total_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ab001</td>
      <td>u001</td>
      <td>i001</td>
      <td>p001</td>
      <td>6</td>
      <td>2300</td>
      <td>3200</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ab002</td>
      <td>u0002</td>
      <td>i002</td>
      <td>p002</td>
      <td>2</td>
      <td>2198</td>
      <td>22000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >ab003</td>
      <td>u003</td>
      
      <td>i003</td>
      <td>p003</td>
      <td>3</td>
      <td>21099</td>
      <td>23000</td>
        
    </tr>
  </tbody>
</table>